body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:#edf2fc;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el formulario y la imagen en la parte superior */
  }
  .form-container {
    width: 50%;
    max-width: 500px;
    padding: 20px;
    background-color: #edf2fc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .image-container {
    margin-right: 40px; /* Espacio a la derecha de la imagen */
  }